/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.material-icons.md-32 { font-size: 32px; }
.material-icons.md-60 { font-size: 60px; }
.material-icons.md-96 { font-size: 96px; }

mat-grid-tile{
    background: rgb(252, 214, 219);
  }

  mat-checkbox{
    margin: 0 20px;
  }
